<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">

  
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false"
                      *ngFor="let book of books$ | async">
   <mat-expansion-panel-header>
     <mat-panel-title>
       {{book.title}}
     </mat-panel-title>
     <mat-panel-description>
         {{book.author}}
     </mat-panel-description>
   </mat-expansion-panel-header>
   <p>{{book.summary}}</p>
 </mat-expansion-panel>
</mat-accordion>
